@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

ol,
ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

:root {
    --azul: #2af;
    --preto: rgba(30, 30, 30, 1);
    --branco: #fff;

    --bg-header: var(--preto);
    --bg-footer: var(--preto);
}

html {
    scroll-behavior: smooth;
}

body {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: var(--bg-header);
    color: var(--branco);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position: fixed;
    top: 0;
    z-index: 9;
}

ul {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.banner img {
    height: 435px;
    width: 100%;
    margin-top: 60px;
}

footer {
    background-color: var(--bg-footer);
    color: var(--branco);
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
}

.links {
    gap: 20px;
}

.links,
.social-container {
    display: flex;
    align-items: center;
}

.social-container {
    gap: 5px;
}

.social-container :nth-child(1) {
    height: 45px;
}

.social-container :nth-child(2) {
    height: 35px;
}

.logo-container img {
    height: 50px;
}

.filmes,
.series {
    display: flex;
    justify-content: center;
}

.container-geral {
    position: relative;
    width: 1050px;
}

.container {
    padding: 15px;
    width: 985px;
    height: 500px;
    margin: 40px auto;
    user-select: none;
}

.gallery-wrapper {
    overflow-x: auto;
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 50px;
    color: var(--azul);
    transition: all 600ms ease-in-out;
    background: transparent;
    cursor: pointer;
    border: none;
}

.arrow-left:hover,
.arrow-right:hover {
    transform: scale(1.03);
}

.arrow-right {
    right: 0;
    left: auto;
    text-align: right;
}

.gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    /* width: 250px; */
    height: 450px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
}

.gallery-wrapper::-webkit-scrollbar {
    display: none;
}

.gallery-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
}